<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1"> Dodavanje banke </h3>
    <h3 mat-dialog-title *ngIf="flag == 2"> Modifikacija banke {{data.naziv}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3"> Brisanje banke {{data.naziv}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Naziv" [(ngModel)]="data.naziv" name="naziv" [disabled]="flag==3" required>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Kontakt" [(ngModel)]="data.kontakt" name="kontakt" [disabled]="flag==3"
                    required>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="PIB" [(ngModel)]="data.pib" name="pib" [disabled]="flag==3" required>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="addBanka()" *ngIf="flag == 1" type="submit" [mat-dialog-close]="1"
                [disabled]="!formControl.valid">Sacuvaj</button>
            <button mat-button (click)="updateBanka()" *ngIf="flag == 2" type="submit" [mat-dialog-close]="1"
                [disabled]="!formControl.valid">Azuriraj</button>
            <button mat-button (click)="deleteBanka()" *ngIf="flag == 3" [mat-dialog-close]="1">Obrisi</button>
            <button mat-button (click)="cancel()">Ponisti</button>

        </div>
    </form>
</div>