<div class="container">
  <div class="title-wrapper">
    <h1 class="title">About</h1>
    <mat-icon class="icon">info</mat-icon>
  </div>
  <div class="content-wrapper">
    <div class="about-text">
      <h2>O aplikaciji</h2>
      <p>Ova aplikacija omogućava vođenje evidencije o bankama, njihovim filijalama i
        korisnicima. Cilj aplikacije je da olakša upravljanje podacima i pruži
        korisnicima intuitivno i efikasno rešenje za praćenje svih relevantnih informacija.</p>
      <h3>Funkcionalnosti</h3>
      <ul>
        <li>Dodavanje i ažuriranje podataka o bankama</li>
        <li>Praćenje informacija o filijalama</li>
        <li>Upravljanje korisničkim nalozima</li>
        <li>Generisanje izveštaja i statistika</li>
        <li>Pretraživanje banaka, filijala, korisnika i usluga po ključnoj reči</li>
        <li>Sortiranje podataka o bankama, filijalama i korisnicima prema različitim kriterijumima</li>
      </ul>
    </div>
  </div>
</div>