body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin: 20px;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background-color: #29f7ed;
    color: #ffffff;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    color: #06384d;
  }
  
  .icon {
    color: #06384d;
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .about-text {
    flex: 2;
  }
  
  .about-text h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 15px;
  }
  
  .about-text p {
    font-size: 17px;
    color: #555555;
    margin-bottom: 20px;
  }
  
  .about-text h3 {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .about-text ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .about-text li {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;
  }
  
  .image-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  