<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="author.component.css" />

<div class="container">
    <div class="title-wrapper">
        <h1 class="title">Author</h1>
        <mat-icon class="icon">person</mat-icon>
    </div>

    <div class="profile-wrapper">
        <img src="assets/veljko.jpeg" alt="Veljko Marinkovic" class="profile-image" />
        <div class="info-wrapper">
            <h2 class="name">Veljko Marinković</h2>
            <p class="bio">Student Inženjerstva informacionih sistema</p>
            <p class="contact"><mat-icon class="icon">email</mat-icon> veljasmarinka@gmail.com</p>
            <p class="birthdate"><mat-icon class="icon">cake</mat-icon> Datum rođenja: 19. jul 2002.</p>
            <p class="university"><mat-icon class="icon">school</mat-icon>Fakultet tehničkih nauka, Novi Sad
            </p>
            <p class="about-me">
                Upisao sam srednju tehničku školu 2017. godine u Užicu i završio je 2021. godine
                kao elektrotehničar informacionih tehnologija. Trenutno sam na trećoj godini studija inženjerstva
                informacionih sistema na Fakultetu tehničkih nauka u Novom Sadu. Pored studija, bavim se fudbalom i
                zanimaju me web developing i tehnologije vezane za razvoj web stranica.
                U slobodno vreme uživam u igranju video igara i provođenju vremena sa roditeljima, često gledajući filmove.
            </p>
        </div>
    </div>
</div>